body {
  min-height: 95vh;
  max-height: 95vh;
}

.container {
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 95vh;
  max-height: 95vh;
}

#logdata {
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 95vh;
  max-height: 95vh;
}
